@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.CodeMirror {
    height: 340px !important;
    color: #fff;
}

.CodeMirror-gutters {
    background: #1d1e22 !important;
}

.CodeMirror-scroll {
    background: #1d1e22;
}
